.item__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #1e1e1e;
}

.item__details {
	overflow: hidden;
	margin-right: 3em;
}

.item__details a {
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #1e1e1e;
}

.item__details a:hover {
	text-decoration: underline;
}

.item__tools {
	display: flex;
}

.item__tools button {
	height: 30px;
	width: 30px;
	padding: 0;
	background: none;
	color: #1e1e1e;
	border: 1px solid;
	border-radius: 0;
}

.item__tools p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	width: 35px;
	height: 30px;
	border: 1px solid;
	border-left: none;
	border-right: none;
}
